
body{
    padding:0px;
    margin:0px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230,230,230);
    height:100vh;
}

.container{
    border:2px solid black;
    background-color: aliceblue;
    border-radius: 15px;
    height:50vh;
    width:25vw;
    box-shadow: 5px 5px 4px;
}
.header{
    text-align: center;
    font-weight: 900;
    padding:8px;
    margin-bottom: 20px;
    border-bottom: 0.5px solid rgb(197, 164, 164);
}
.addtask{
    display:flex;
    justify-content: space-evenly;
}
#input{
    padding:7px;
    border-radius: 6px;
}
button:hover{
    border: 1px solid black;
    box-shadow: 2px 2px 1px;
}
button{
    background-color: rgb(185, 185, 64);
    color:black;
}